# NLP Project

# Author Features Prediction

## Description
Classification is probably the most popular task that you would deal with in real life.

Text in the form of blogs, posts, articles, etc. is written every second. It is a challenge to predict the information 
about the writer without knowing about him/her. 

We are going to create a classifier that predicts multiple features of the author of a given text.

We have designed it as a Multilabel classification problem

## Dataset

Blog Authorship Corpus
Over 600,000 posts from more than 19 thousand bloggers

The Blog Authorship Corpus consists of the collected posts of 19,320 bloggers gathered from blogger.com in 
August 2004. The corpus incorporates a total of 681,288 posts and over 140 million words - or approximately 
35 posts and 7250 words per person.

Each blog is presented as a separate file, the name of which indicates a blogger id and the blogger’s self - provided gender, age, industry, and astrological sign. (All are labelled for gender and age but for many, industry 
and/or sign is marked as unknown.)

All bloggers included in the corpus fall into one of three age groups:

8240 "10s" blogs (ages 13-17)

8086 "20s" blogs(ages 23-27)

2994 "30s" blogs (ages 33-47)

For each age group, there is an equal number of male and female bloggers.

Each blog in the corpus includes at least 200 occurrences of common English words. All formatting has been 
stripped with two exceptions. Individual posts within a single blogger are separated by the date of the following 
post and links within a post are denoted by the label urllink.

## 1. Load the dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import nltk
from nltk.corpus import stopwords
from warnings import filterwarnings
filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import recall_score

In [2]:
df = pd.read_csv('blogtext.csv')
df.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

In [3]:
df.columns

Index(['id', 'gender', 'age', 'topic', 'sign', 'date', 'text'], dtype='object')

#### Checking Dimension

In [4]:
df.shape

(681284, 7)

#### Checking for null values

In [5]:
Total = df.isnull().sum().sort_values(ascending=False)  
Percent = (df.isnull().sum()*100/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([Total, Percent], axis = 1, keys = ['Total', 'Percentage of Missing Values'])    
missing_data

        Total  Percentage of Missing Values
text        0                           0.0
date        0                           0.0
sign        0                           0.0
topic       0                           0.0
age         0                           0.0
gender      0                           0.0
id          0                           0.0

There are no missing values in the data.

##### As mentioned in the problem statement: "As the dataset is large, use fewer rows. Check what is working well on your machine and decide accordingly" I have decided to take first 6000 rows for the further analysis.

In [6]:
df = df.head(3500)

## 2. Preprocess rows of the “text” column

- Remove unwanted characters
- Convert text to lowercase
- Remove unwanted spaces
- Remove stopwords

In [7]:
df.text = df.text.apply(lambda x: re.sub('[^A-Za-z]+', ' ', x))
df.text = df.text.apply(lambda x: x.lower())
df.text = df.text.apply(lambda x: x.strip())

In [8]:
nltk.download('stopwords')
stopwords = set(stopwords.words('english'))
df.text = df.text.apply(lambda x: ' '.join([word for word in x.split() if word not in stopwords]))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

Lets verify the preprocessing steps by looking over some values.

In [9]:
df.text[3]

'testing testing'

# 3. Merge the label columns

#### a. Label columns to merge: “gender”, “age”, “topic”, “sign”

In [10]:
df['labels'] = df.apply(lambda row: [row['gender'], str(row['age']), row['topic'], row['sign']], axis=1)

#### b. After completing the previous step, there should be only two columns in your data frame i.e. “text” and “labels” as shown in the below image

In [11]:
df.head()

,id,gender,age,topic,sign,date,text,labels
0,2059027,male,15,Student,Leo,"14,May,2004",info found pages mb pdf files wait untill team...,"[male, 15, Student, Leo]"
1,2059027,male,15,Student,Leo,"13,May,2004",team members drewes van der laag urllink mail ...,"[male, 15, Student, Leo]"
2,2059027,male,15,Student,Leo,"12,May,2004",het kader van kernfusie op aarde maak je eigen...,"[male, 15, Student, Leo]"
3,2059027,male,15,Student,Leo,"12,May,2004",testing testing,"[male, 15, Student, Leo]"
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",thanks yahoo toolbar capture urls popups means...,"[male, 33, InvestmentBanking, Aquarius]"

## 4. Separate features and labels, and split the data into training and testing

In [12]:
df = df[['text','labels']]

In [13]:
df.head()

,text,labels
0,info found pages mb pdf files wait untill team...,"[male, 15, Student, Leo]"
1,team members drewes van der laag urllink mail ...,"[male, 15, Student, Leo]"
2,het kader van kernfusie op aarde maak je eigen...,"[male, 15, Student, Leo]"
3,testing testing,"[male, 15, Student, Leo]"
4,thanks yahoo toolbar capture urls popups means...,"[male, 33, InvestmentBanking, Aquarius]"

### Train_test_split

In [14]:
X = df.text.values
y = df.labels.values

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

In [16]:
print('X_train shape:', X_train.shape)
print('X_test shape:', X_test.shape)
print('y_train shape:', y_train.shape)
print('y_test shape:', y_test.shape)

X_train shape: (2800,)
X_test shape: (700,)
y_train shape: (2800,)
y_test shape: (700,)

## 5. Vectorize the features

### a. Create Bag of Words
- Use CountVectorizer
- Transform the training and testing data

In [17]:
vectorizer = CountVectorizer(binary=True, ngram_range=(1, 2))
X_train_cv = vectorizer.fit_transform(X_train)
X_test_cv = vectorizer.transform(X_test)

In [18]:
X_train_cv

<2800x193863 sparse matrix of type '<class 'numpy.int64'>'
	with 355425 stored elements in Compressed Sparse Row format>

In [19]:
vectorizer.get_feature_names()[:5]

['aa', 'aa anger', 'aaa', 'aaa travel', 'aaaaaaaaah']

#### b. Print the term-document matrix

In [20]:
X_train_cv.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

## 6. Create a dictionary to get the count of every label

In [21]:
label_counts = dict()

for labels in df.labels.values:
    for label in labels:
        if label in label_counts:
            label_counts[label] += 1
        else:
            label_counts[label] = 1

In [22]:
label_counts

{'male': 2772,
 '15': 299,
 'Student': 403,
 'Leo': 55,
 '33': 94,
 'InvestmentBanking': 70,
 'Aquarius': 286,
 'female': 728,
 '14': 74,
 'indUnk': 452,
 'Aries': 2199,
 '25': 110,
 'Capricorn': 77,
 '17': 147,
 'Gemini': 21,
 '23': 93,
 'Non-Profit': 46,
 'Cancer': 76,
 'Banking': 16,
 '37': 19,
 'Sagittarius': 113,
 '26': 43,
 '24': 334,
 'Scorpio': 243,
 '27': 86,
 'Education': 118,
 '45': 14,
 'Engineering': 119,
 'Libra': 313,
 'Science': 33,
 '34': 6,
 '41': 14,
 'Communications-Media': 14,
 'BusinessServices': 21,
 'Sports-Recreation': 75,
 'Virgo': 39,
 'Taurus': 76,
 'Arts': 2,
 'Pisces': 2,
 '44': 3,
 '16': 25,
 'Internet': 20,
 'Museums-Libraries': 2,
 'Accounting': 2,
 '39': 32,
 '35': 2107,
 'Technology': 2107}

## 7. Convert your train and test labels using MultiLabelBinarizer

In [23]:
mlb = MultiLabelBinarizer(classes=sorted(label_counts.keys()))
y_train = mlb.fit_transform(y_train)
y_test = mlb.transform(y_test)

In [24]:
y_test

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 1, 0, ..., 1, 0, 0],
       [0, 1, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 1]])

## 8. Choose a classifier

Use a linear classifier, wrap it up in OneVsRestClassifier to train it on every label.

In [25]:
clf = LogisticRegression(solver='lbfgs')
clf = OneVsRestClassifier(clf)

### 9. Fit the classifier, make predictions and get the accuracy

In [26]:
clf.fit(X_train_cv, y_train)

OneVsRestClassifier(estimator=LogisticRegression())

### Predictions
- Get predicted labels and scores

In [27]:
predicted_labels = clf.predict(X_test_cv)
predicted_scores = clf.decision_function(X_test_cv)

In [28]:
predicted_labels

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]])

In [29]:
predicted_scores

array([[ -6.82002093,  -4.81360562,  -6.30796503, ...,  -4.6451281 ,
         -4.55267238,   4.6451281 ],
       [ -8.77402947, -12.49628157,  -9.75750842, ..., -11.86022226,
         -7.40229346,  11.86022226],
       [ -7.39199528,  -4.36360153,  -7.10166905, ...,  -1.68840236,
         -3.4334762 ,   1.68840236],
       ...,
       [ -6.55861823,  -1.39595678,  -7.15586499, ...,  -2.16619902,
         -5.52704806,   2.16619902],
       [ -6.54859712,  -1.95795813,  -6.41868389, ...,  -1.95398777,
         -5.14225956,   1.95398777],
       [ -6.9577547 ,  -6.21001588,  -6.55256488, ...,  -4.18872881,
         -4.08343578,   4.18872881]])

#### Get inverse transform for predicted labels and test labels

In [30]:
pred_inversed = mlb.inverse_transform(predicted_labels)
y_test_inversed = mlb.inverse_transform(y_test)

In [31]:
(pred_inversed[:5])

[('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male')]

In [32]:
y_test_inversed[:5]

[('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('17', 'Sagittarius', 'Student', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male')]

### a. Print the following
- i. Accuracy score
- ii. F1 score
- iii. Average precision score
- iv. Average recall score

In [33]:
def print_evaluation_scores(y_val, predicted):
    print('Accuracy score: ', accuracy_score(y_val, predicted))
    print('F1 score: ', f1_score(y_val, predicted, average='micro'))
    print('Average precision score: ', average_precision_score(y_val, predicted, average='micro'))
    print('Average recall score: ', recall_score(y_val, predicted, average='micro'))

In [34]:
print('Bag-of-words')
print_evaluation_scores(y_test, predicted_labels)

Bag-of-words
Accuracy score:  0.6471428571428571
F1 score:  0.7998446903513882
Average precision score:  0.6671420943555029
Average recall score:  0.7357142857142858

### 10. Print true label and predicted label for any five examples

In [35]:
for i in range(5):
    print('Title:\t{}\nTrue labels:\t{}\nPredicted labels:\t{}\n\n'.format(
        X_test[i],
        ','.join(y_test_inversed[i]),
        ','.join(pred_inversed[i])
    ))

Title:	read whole story ben bizarre find sites
True labels:	35,Aries,Technology,male
Predicted labels:	35,Aries,Technology,male


Title:	bill would allow immunity liability companies make faulty antiterrorism devices technology would make difficult sue companies make smallpox vaccinations vaccines cause illness one last minute addition representative dick armey republican texas inserted provision apparently intended protect eli lilly pharmaceutical giant lawsuits thimerosal mercury based vaccine preservative parents contend caused autism children full article ny times house approves domestic security bill david firestone ashington nov house hurriedly approved revised domestic security bill tonight reflect new agreement white house reducing worker protections brushing aside democratic objections republican leaders added several provisions benefiting businesses republican interests bill approved would reverse earlier measure allow american companies moved offshore order evade taxes contract homeland security department would also extend protection liability suits airline screening companies many businesses contract department adds similar provision protecting makers smallpox vaccines democrats voted bill many raising objections new provisions altering civil service rules house voted along party lines create independent commission investigate sept attacks several members parties two chambers said would try include commission intelligence spending bill still passed republican house leaders said commission needed planning drawing complaints relatives attack victims trying hide failures might prevented attacks working conclude year legislative business week end house also passed stopgap spending measure keep government operating january many members parties hoped house would pass least pending appropriations bills government uses keep operating house leaders said would take bills new congress convened next year expected republican house members elected representative tom delay texas formerly majority whip new post majority leader next session democratic house members scheduled conduct leadership elections thursday likely choose representative nancy pelosi california minority whip leader morning however new candidate job emerged demonstrating continuing disagreements among democrats respond losses last week elections representative marcy kaptur ohio said would run position draw votes members object ms pelosi emphasis fund raising never raise money republicans never said ms kaptur known opposition free trade measures federal funding abortions must elevate non money wing democratic party create populist symbols convey message ms kaptur joins harold e ford jr tennessee contesting democratic leadership election ms pelosi claims already sufficient support win senate republicans chose trent lott mississippi majority leader next term along senator mitch mcconnell kentucky majority whip senator jon kyl arizona third ranking job leading republican policy committee mr lott said today election republicans would focus national economic security mentioning specifically prescription drug program low income older people making individual retirement accounts easier use senate democrats also held leadership elections today unanimously choosing senator tom daschle south dakota chairman caucus along senators harry reid nevada barbara mikulski maryland positions mr daschle minority leader next senate mr reid minority whip senators also voted block annual pay raise would increase salaries percent next year passage energy bill deferred next year continuing partisan disagreements regulation conservation senate began lengthier process approving domestic security bill expected pass early friday senators showed remained closely divided bill deciding drop democratic version bill closely watched test vote new version bill enough votes passage many democrats remain upset president bush virtually entire plan cut back civil service protections workers making easier fire transfer many democrats chambers furious today read fine print new version bill found republicans inserted provisions discussed six months debate antiterrorism department cut senate bill new language example allows administration reorganize department created differing senate republican version would require congressional approval reorganization revises provision passed july prohibited contracts offshore tax evading companies allowing department waive ban name saving american jobs bill would allow immunity liability companies make faulty antiterrorism devices technology would make difficult sue companies make smallpox vaccinations vaccines cause illness one last minute addition representative dick armey republican texas inserted provision apparently intended protect eli lilly pharmaceutical giant lawsuits thimerosal mercury based vaccine preservative parents contend caused autism children really quite surprised would put fine print provisions never saw versions never even went committees said representative henry waxman california ranking democrat house government reform committee republicans like representative william thornberry texas said additions minor paled next importance creating department protect nation safety
True labels:	35,Aries,Technology,male
Predicted labels:	35,Aries,Technology,male


Title:	dvd year never got around watching last night well technically early nbsp morning probably going movie watch often others galaxyquest mummy returns etc one best non action saddest movies seen long time seen manage sit something stuff blow every seconds definitely go rent cpl starts today expect post tomorrow deal experiences
True labels:	17,Sagittarius,Student,male
Predicted labels:	male


Title:	thought octality theory
True labels:	35,Aries,Technology,male
Predicted labels:	35,Aries,Technology,male


Title:	meant boards silly
True labels:	35,Aries,Technology,male
Predicted labels:	35,Aries,Technology,male